.container {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  height: calc(100vh - 160px);
  padding: 40px 60px;
  background-color: #DFF9FB;
  overflow-y: scroll;
}
.list {
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 20px;
  list-style: none;
}